! ===================
! urxvt configuration
! ===================

URxvt*scrollBar:	false
URxvt*letterSpace: 	-1
URxvt*font: 		xft:DejaVuSansMono-15
URxvt*boldFont:		xft:DejaVuSansMono-15
URxvt*cursorBlink:  true
URxvt.iso14755:		false
URxvt*utf8:			true
! Pour obtenir la touché pressée
URxvt.keysym.C-equal:         resize-font:bigger
URxvt.keysym.C-parenright:    resize-font:smaller

! =================
! Xft configuration
! =================

Xft.dpi:          	96
Xft.antialias:     	true
Xft.rgba:			subpixel
Xft.hinting:       	true
Xft.hintstyle:		hintslight
! Xft.lcdfilter:	lcddefault

! ============
! color scheme
! ============
*background: #282828
*foreground: #CCCCCC
*active:  #fabd2f
! *color0:  #282828
! *color8:  #928374
! *color1:  #cc241d
! *color9:  #fb4934
! *color2:  #fabd2f
! *color10: #4D6E4E
! *color3:  #d79921
! *color11: #fabd2f
! *color4:  #458588
! *color12: #83a598
! *color5:  #b16286
! *color13: #d3869b
! *color6:  #689d6a
! *color14: #8ec07c
! *color7:  #a89984
! *color15: #ebdbb2

! Black
*color0:   #303030
*color8:   #5F5F5F

! Red
*color1:   #c03000
*color9:   #FF3A78

! Green
*color2:   #b1d631
*color10:  #A6CD07

! Yellow
*color3:   #fecf35
*color11:  #B5C865

! Blue
*color4:   #426870
*color12:  #4A7781

! Magenta
*color5:   #6D506D
*color13:  #FF3B77

! Cyan
*color6:   #4bb5c1
*color14:  #4bb5c1

! White
*color7:   #e2e2e5
*color15:  #e2e2e5

! vim: et sw=2 syn=xdefaults


! =================
! rofi color scheme
! =================
#define color_scheme_green
#define hl_text #282828
#define m_color #fabd2f

rofi.color-enabled:		true
rofi.separator-style: 	solid
rofi.color-normal:		argb:00000000, #a89984, argb:00000000,  m_color,  hl_text
rofi.color-urgent:		argb:00000000, #F99157, argb:00000000,  #F99157,  hl_text
rofi.color-active:		argb:00000000, #6699CC, argb:00000000,  #6699CC,  hl_text
rofi.color-window:		argb:ee222222, m_color, m_color
rofi.font:				xos4terminus medium 12
rofi.bw:                0
rofi.padding:           10
rofi.hide-scrollbar:    true
rofi.lines:             5